<mat-card>
  <form [formGroup]="cityForm">
    <mat-form-field>
      <input matInput placeholder="Name" id="name" type="text" formControlName="cityName"/><br>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Country" id="country" type="text" formControlName="country"/><br>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Continent" id="continent" type="text" formControlName="continent"/><br>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Population" id="population" type="number" formControlName="population"/><br>
    </mat-form-field>
  </form>
</mat-card>

